<h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>

<h2>review</h2>
  <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %></li>
      <li><%= review.rating %></li>
  <% end %>
